.logo {
    display: flex; /* Keeps the logo flexible */
    align-items: center; /* Vertically centers the logo content */
}

/* Styles for the search form */
.searchForm {
    display: flex;
    flex: 1;
    padding-left: 170px;
    max-width: 600px;
    margin: 0 20px;
    align-items: middle;
}

/* Styles for the navigation links */
.navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navLinks li {
    display: flex;
    align-items: center;
}

.navLinks li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navLinks li a:hover {
    text-decoration: underline;
}